@media only screen and (min-width: 992px) {
html {
position:relative;
left:0;
right:0;
body {
background-color: #1f1f1f;
position:relative;
left:0;
right:0;
}
#banner {
background-image:url("https://i.ytimg.com/vi/QLJIdFNdVjk/maxresdefault.jpg");
width:device-width;
height:400px;
padding:50px;
background-color: #1f1f1f;
background-position: center;
background-repeat: no-repeat;
position: relative;
left:-30px;
top: -95px;
}
#menu {
list-style-type: none;
width:device-width;
overflow: hidden;
background-color: #878787;
margin-top: -100px;
border-style: solid;
border-color: #1f1f1f;
border-width:6px;
padding-left:240px;
margin-right:-100px;
}
#menu li {
background-color: #878787;
float: left;
display: inline-block;
line-height:40px;
padding-left:0px;
}
#menu a {
text-decoration:none;
color: #1f1f1f;
font-size:40px;
}
#menu a:hover {
background-color:#1f1f1f;
color:white;
}
#home {
float: left;
padding: 10px 120px;
}
#video {
float: right;
padding: 10px 120px;
}
#link {
float: right;
padding: 10px 120px;
}
#help {
float: right;
padding: 10px 120px;
}
#wr {
font-size: 60px;
color: white;
font-family: Times New Roman;
text-align: center;
padding-bottom:-10px;
}
#ND {
width:device-width;
background-color:#878787;
background-position: center;
position: relative;
left:30px;
right:0px;
top: -20px;
border-color: #1f1f1f;
border-style: solid;
border-width: 5px 35px;
margin-bottom: -20px;
height: 400px;
}
#ND .sbm {
list-style-type: none;
overflow: hidden;
padding-top: 20px;
height: 80px;
}
#ND .sbm li {
list-style-type: none;
float: left;
padding: 5px 80px;
font-size: 30px;
}
#ND .sbm a {
border: 4px solid white;
border-radius: 15px 15px 0px 0px;
background-color: black;
text-decoration: none;
color: white;
padding:20px;
}
#ND .sbm a:hover {
border: 4px solid black;
border-radius: 15px 15px 0px 0px;
background-color: white;
color: black;
}
#ND .sbm .sky {
border: 4px solid black;
border-radius: 15px 15px 0px 0px;
background-color: white;
color: black;
}
#ND .style {
list-style-type: none;
width:device-width;
background-position: center;
position: relative;
right:-0px;
top: -20px;
font-size: 25px;
}
#ND .style li {
float: left;
padding: 0px;
}
#ND .style a {
text-decoration: none;
color: white;
padding: 15px 50px;
border-style: none;
}
#ND .style a:hover {
background-color: #a39f9e;
border-style: none none solid none;
border-color: white;
}
#ND .style .sn {
background-color: #a39f9e;
border-style: none none solid none;
border-color: white;
}
#ND table {
height: 40px;
position: relative;
width:device-width;
top: 30px;
left: 60px;
margin-bottom:10px;
}
#ND td {
background-position: center;
}
#ND .table a {
border: 1px solid black;
padding: 10px 15px;
font-size: 20px;
text-decoration: none;
color: white;
border-radius: 15px 15px 15px 15px;
margin-left: 20px;
}
#ND .table a:hover {
background-color: #a39f9e;
color: black;
}
#ND .table .kill {
background-color: #a39f9e;
color: black;
}
#ND .leaderboard {
position: relative;
top: 50px;
left: -0px;
background-color: #1f1f1f;
margin-bottom:-50px;
margin-left: 40px;
}
#ND .leaderboard th {
font-family: Georgia;
color: white;
font-size:25px;
}
#ND .leaderboard td {
text-align: center;
font-family: sans-serif;
color: white;
font-size:19px;
}
#ND img {
width: 35px;
height: 20px;
}
#foot {
background-color: #878787;
height: 60px;
width:device-width;
padding-top: 25px;
padding-bottom: 25px;
padding-left:-10px;
margin-left: -10px;
padding-right: 151px;
margin-bottom: -10px;}
#foot h1 {
font-family: sans-serif;
text-align: center;
color: white;
font-size:40px;
line-height: 10px;
padding-left:120px;
}
#foot a {
color: blue;
text-decoration: none;
font-weight: normal;
font-style: normal;
}
#foot a:hover {
text-decoration: underline;
color: #00cfd6;
font-style: italic;
}
}